form{
    background-color: #ff1e7c;
    padding: 80px;
    margin: 80px;
}
input[type=text],input[type=password]{
    width: 100%;
    border: 1px solid black;
    box-shadow: 4px 3px 5px 5px gray;
    height: 40px;
    border-radius: 10px;
}
input[type=submit]{
    width: 100%;
    border-radius: 10px;
    background-color: green;
}
input[type=submit]:hover{
    background-color: green;
}