body{

    background-color: antiquewhite;

}
table,th,td{
    border: 2px solid blue;
    border-collapse: collapse;
    background-color: greenyellow;

}
table{
    height: 400px;
    width: 900px;
}
h1{
    alignment: center;
}